<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: login-navigation"></nav>

    <h1 th:text="${title}" style="margin-top:80px">Successfully created your wish List</h1>


<form method="post" style="max-width:600px;" action="/gift/contribute" th:object="${gift}">

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Occasion</th>
            <th>Price</th>
            <th>Total Contributed</th>
            <th>Target Date</th>
        </tr>

        <tr >
            <td th:text="${gift.name}"></td>
            <td th:text="${gift.occasion}"></td>
            <td th:text="${gift.price}"></td>
            <td th:text="${totalAmountContributed}"></td>
            <td th:text="${gift.date}"></td>
        </tr>

    </table>
    <div class="form-group">
        <label th:for="totalamount">I would like to contribute </label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" value="00.00" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"  name="totalamount" />
        </div>
    </div>
    <input type="hidden" name="giftId" th:value="*{id}"/>
    <input type="submit" class="btn btn-info" value="Share your contribution" />

</form>


</body>
</html>