<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: login-navigation"></nav>
<h1 th:text="${title}">Wish List Seeker</h1>
<div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="contributor : ${usersContributionsByGiftIdList}">
            <td th:text="${contributor.name}"></td>
            <td th:text="${contributor.email}"></td>
            <td th:text="${'$ ' + contributor.totalamount}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>