<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: login-navigation"></nav>
<h1 style="margin-top:80px">Successfully added this wish to your wish list</h1>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Occasion</th>
        <th>Price</th>
        <th>Date</th>
    </tr>

    <tr >
        <td th:text="${gift.name}"></td>
        <td th:text="${gift.occasion}"></td>
        <td th:text="${gift.price}"></td>
        <td th:text="${gift.date}"></td>
    </tr>

</table>

<nav th:fragment="navigation">
    <a href="/gift/list">Check your wish list</a>
</nav>

</body>
</html>