<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: login-navigation"></nav>

<p th:unless="${giftAndContibutionAmountList} and ${giftAndContibutionAmountList.size()}">No wish list :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Occasion</th>
        <th>Price</th>
        <th>Contribution</th>
        <th>Contribute</th>
        <th>Target Date</th>
    </tr>

    <tr th:each="giftAndContibutionAmount : ${giftAndContibutionAmountList}">
        <td th:text="${giftAndContibutionAmount.gift.name}"></td>
        <td th:text="${giftAndContibutionAmount.gift.occasion}"></td>
        <td th:text="${giftAndContibutionAmount.gift.price}"></td>
        <td th:text="${giftAndContibutionAmount.totalAmountContributed}"></td>
        <td><a class="btn btn-info" th:href="@{'/gift/contribute/'+ ${giftAndContibutionAmount.gift.id}}" th:text="Contribute"></a></td>
        <td th:text="${giftAndContibutionAmount.gift.date}"></td>
    </tr>

</table>

<nav th:fragment="navigation">
    <a href="/gift/add">Create a Wish</a>
</nav>

</body>
</html>