<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: login-navigation"></nav>
<h1 th:text="${title}">Default Title</h1>
<p th:unless="${giftAndContibutionAmountList} and ${giftAndContibutionAmountList.size()}">No wish list :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Occasion</th>
        <th>Price</th>
        <th th:unless="${currentUserFlag} == true">Contribution</th>
        <th th:unless="${currentUserFlag} == false">Contribution</th>
        <th>Contribute</th>
        <th>Target Date</th>
        <th th:unless="${currentUserFlag} == false">Edit</th>
        <th th:unless="${currentUserFlag} == false">Delete</th>
    </tr>

    <tr th:each="giftAndContibutionAmount : ${giftAndContibutionAmountList}">
        <td th:text="${giftAndContibutionAmount.gift.name}"></td>
        <td th:text="${giftAndContibutionAmount.gift.occasion}"></td>
        <td th:text="${giftAndContibutionAmount.gift.price}"></td>
        <td th:unless="${currentUserFlag} == true" th:text="${giftAndContibutionAmount.totalAmountContributed}"></td>
        <td th:unless="${currentUserFlag} == false"><a th:href="@{'/gift/contributedBy/'+ ${giftAndContibutionAmount.gift.id}}" th:text="${giftAndContibutionAmount.totalAmountContributed}"></a></td>
        <td><a class="btn btn-info" th:href="@{'/gift/contribute/'+ ${giftAndContibutionAmount.gift.id}}" th:text="Contribute"></a></td>
        <td th:text="${giftAndContibutionAmount.gift.date}"></td>
        <td th:unless="${currentUserFlag} == false"><a class="btn btn-info" th:href="@{'/gift/edit/'+ ${giftAndContibutionAmount.gift.id} +'/userId/'+${wishListUserId}}" th:text="Edit"></a></td>
        <td th:unless="${currentUserFlag} == false"><a class="btn btn-info" th:href="@{'/gift/delete/'+ ${giftAndContibutionAmount.gift.id} +'/userId/'+${wishListUserId}}" th:text="Delete"></a></td>
    </tr>

</table>

</body>
</html>