<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: login-navigation"></nav>
<h1 th:text="${title}">Default Title</h1>
<h3 th:text="${error}"></h3>


<div class="leftContainer">



    <div class="mediumText">
          <span class="smallText">(showing 1-3 of 3)</span>
    </div>





    <div class="elementList" style="padding-top: 10px;">
        <div class="left" style="width: 100%;" th:each="bookReadingList : ${bookReadingListList}" >

            <img  th:src="@{${bookReadingList.bookThumbNailImage}}" alt="Lights" width="6%" height="8%">

            <a th:href="@{'/gift/list/'+ ${bookReadingList.isbn}}" th:text="${bookReadingList.bookTitle}"></a>

           <input type="submit" class="btn btn-info" value="Target to complete" />
            <input type="submit" class="btn btn-info " value="Completed" />

            <a th:href="@{'/book/delete/'+ ${bookReadingList.id}}" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash w3-padding w3-xlarge w3-text-orange"></i></a></td>
            <p>
        </div>

    </div>

</div>

</body>
</html>