<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: login-navigation"></nav>
<div>
   <!--'?' operator check for null
    If you have 'user' entity with embedded 'name' entity in order to access fields of 'user' entity and print them if 'name'
     '?' on user is checkig if this is not null then access name. Otherwise it will pront blank. -->
<!-- Following user objet is set in the session in the user controller-->
    <h3 th:text="${'Welcome ' + user?.name}">Please Login</h3>
</div>

</body>
</html>