<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My iWish</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="login-navigation">
    <a href="/user">Home</a> |
    <a href="/gift/add">Create Wish</a> |
    <a href="/gift/list">My WishList</a> |
    <a href="/gift/wishListSeeker">WishList Seeker</a>
</nav>

<nav th:fragment="no-login-navigation">
    <a href="">Home</a> |
    <a href="/user/add">Register</a>
</nav>

</body>
</html>