<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My iWish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!--You can Download the jQuery library from jQuery.com, Store locally and refer it as follows,
    I downloaded it locally, tested it , it worked perfectly. Now using the CDN so commenting it -->
    <!--    <script src="/js/jquery.js"></script>-->
    <!-- If you don't want to download and host jQuery yourself, you can include it from a CDN (Content Delivery Network) as follows-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>



<nav th:fragment="login-navigation" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">iWish</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/user">Home</a></li>
            <li><a href="/gift/add">Create Wish</a></li>
            <li><a href="/gift/list">My WishList</a></li>
            <li><a href="/gift/wishListSeeker">WishList Seeker</a></li>
            <li><a href="/book/readinglist">My Reading List</a></li>
            <li><a href="/book/booksearch">Book Search</a></li>
        </ul>
    </div>
</nav>



<nav th:fragment="home-navigation" class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/add">Register</a></li>
            <li><a href="/user/search">Search User</a></li>
        </ul>
    </div>
</nav>

<nav th:fragment="no-login-navigation" class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/user/add">Register</a></li>
        </ul>
    </div>
</nav>

<nav th:fragment="old-login-navigation">
    <a href="/user">Home</a> |
    <a href="/gift/add">Create Wish</a> |
    <a href="/gift/list">My WishList</a> |
    <a href="/gift/wishListSeeker">WishList Seeker</a>
</nav>

<nav th:fragment="old-no-login-navigation">
    <a href="">Home</a> |
    <a href="/user/add">Register</a>
</nav>


</body>
</html>