<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: home-navigation"></nav>

<div class="jumbotron well" style="margin-top:80px">
    <div class="container text-center">
        <h1>iWish</h1>
        <p>Let your friend help you achieve your Wishlist...</p>
    </div>
</div>


<div class="container-fluid bg-3 text-center" >
    <h3>Best Sellers</h3><br>

    <div class="row">
        <div class="col-md-2" th:each="i : ${#numbers.sequence( 1, 6/1)}">
            <div class="thumbnail">
                <img  th:src="@{'/images/book' + ${i} + '.jpg'}" alt="Lights" style="width:100%"  th:onclick="@{'getBookDetails(' + ${i} +')' }">
                <div class="caption" th:id="@{'divbook' + ${i} }"></div>
            </div>
        </div>
    </div>


    <!--<div class="row">
        <div class="col-md-12">
            <button id="btn" class="btn btn-info" th:onclick="@{'getLoctaionDetailsByIP()'}">Fetch your IP Address and Host Location</button>
            <div id="animal-info" class="form-group"></div>
        </div>
    </div>-->

<!--    <div class="row">
        <div class="col-md-12">
            <button id="btnreadinglist" class="btn btn-info" th:onclick="@{'getReadingListByUserId()'}">Get Reading List</button>
            <div id="readinglist-info" class="form-group"></div>
        </div>
    </div>-->
</div>

</body>
</html>